body{
    width: 70%;
    margin: 0 auto;
    background-image: url(../Imagenes/beer.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
html{
    font-size: 100%;
}
 li a:hover{
    background-color: #401201;
    text-transform: uppercase;
    text-decoration: underline;
} 
 li a:visited{
    color: blue;
}
a:link{
    color: blue;
    text-decoration: none;
}
p{
    line-height: 1.5rem;
    text-indent: 2rem;
    padding:  0.6rem;    
    word-spacing: 0.2rem;
}

h2,h1{
    background-color:#735646 ;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: #401201 4px 5px 5px;
    letter-spacing: 0.2rem;
    padding: 0.3rem; /* padding: T R B L */
    
    
}

#Content h2{
   border:#345948 groove 0.5rem;
}

#Menu{
    background-color:#345948;
    font-family: 'Courier New', Courier, monospace;
}

#Content p {
    background-color: #345948;
    border: black groove 0.2rem ;
}
